---
layout: default
---

<article class="brand-element">
  <aside class="brand-element-info">
    <h2 class="brand-element-title">Logotype</h2>

    <div class="brand-element-description">
      <p>The logotype is the most visible element of our identity — a universal signature across all TROUVA communications. Because the logotype is such a recognisable and highly visible brand asset, it is vital that it is always applied consistently wherever it appears.</p>
      <p>When writing the TROUVA name in a sentence, always capitalize all letters.</p>
    </div>
  </aside>

  <section class="brand-element-content">
    <p class="style-logotype">
      <img src="/images/logotype.png" alt="">
    </p>

    <p class="style-logotype is-white">
      <img src="/images/logotype-white.png" alt="">
    </p>
  </section>
</article>

<article class="brand-element">
  <aside class="brand-element-info">
    <h2 class="brand-element-title">Symbol</h2>

    <div class="brand-element-description">
      <p>Our symbol comes in two versions, with and withouth a line. The symbol is based on the letter T from the main logotype.</p>
      <p>It should be used for social media avatars, app icon and favicon.</p>
    </div>
  </aside>

  <section class="brand-element-content">
    <p class="style-icon">
      <img src="/images/icon.png" alt="">
    </p>

    <p class="style-icon is-favicon">
      <img src="/images/favicon.png" alt="">
    </p>
  </section>
</article>

<article class="brand-element">
  <aside class="brand-element-info">
    <h2 class="brand-element-title">Colours</h2>

    <div class="brand-element-description">
      <p>The TROUVA palette consists of shades and tints of each primary TROUVA colour, providing additional range to the brand experience.</p>
      <p>Colour variations may occur on-screen as a result of different screen calibrations and/or software application being used.</p>
    </div>
  </aside>

  <section class="brand-element-content">
    <div class="style-colours-list">
      {% for colour in site.colours %}
        <p class="style-colour is-{{ colour.slug }}">
          <span></span>
          {{ colour.name }}<br>
          #{{ colour.hex}}
        </p>
      {% endfor %}
    </div>

    <div class="style-colours-list">
      {% for colour in site.shades %}
        <p class="style-colour is-{{ colour.slug }}">
          <span></span>
          {{ colour.name }}<br>
          #{{ colour.hex}}
        </p>
      {% endfor %}
    </div>
  </section>
</article>

<article class="brand-element">
  <aside class="brand-element-info">
    <h2 class="brand-element-title">Typography</h2>

    <div class="brand-element-description">
      <p>The TROUVA typeface is Brown, a contemporary and versatile typeface that follows in the footsteps of modernism drawn and developed by Aurèle Sack.</p>
      <p>Inspired by the grotesk typefaces of the early 20th century, specifically to the trailblazing design of Edward Johnston (1872-1944), who was commissioned to create a typeface for the Underground Electric Railways of London in 1913.</p>
      <p>It is at the heart of the TROUVA identity and is the foundation for all TROUVA branding. Modern, clean, distinctive and legible.</p>
    </div>
  </aside>

  <section class="brand-element-content">
    <p class="typography">
      AaBbCc123<br>
      Brown
    </p>
  </section>
</article>
