<ul class="brand-element-files">
  <li>
    <a href="{{ site.baseurl }}/css/app.html">
      <i class="fa fa-file-text-o"></i>
      app.sass
    </a>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      bourbon
    </span>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      themes
    </span>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/css/themes/default.html">
          <i class="fa fa-file-text-o"></i>
          default.sass
        </a>
      </li>
    </ul>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      tools
    </span>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/css/tools/reset.html">
          <i class="fa fa-file-text-o"></i>
          reset.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/tools/mixins.html">
          <i class="fa fa-file-text-o"></i>
          mixins.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/tools/placeholders.html">
          <i class="fa fa-file-text-o"></i>
          placeholders.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/tools/keyframes.html">
          <i class="fa fa-file-text-o"></i>
          keyframes.sass
        </a>
      </li>
    </ul>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      styles
    </span>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/css/styles/base.html">
          <i class="fa fa-file-text-o"></i>
          base.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/site.html">
          <i class="fa fa-file-text-o"></i>
          site.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/buttons.html">
          <i class="fa fa-file-text-o"></i>
          buttons.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/list.html">
          <i class="fa fa-file-text-o"></i>
          list.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/elements.html">
          <i class="fa fa-file-text-o"></i>
          elements.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/components.html">
          <i class="fa fa-file-text-o"></i>
          components.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/vendor.html">
          <i class="fa fa-file-text-o"></i>
          vendor.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/z-index.html">
          <i class="fa fa-file-text-o"></i>
          z-index.sass
        </a>
      </li>
    </ul>
  </li>
</ul>