<ul class="style-element-files">
  <li>
    <a href="{{ site.baseurl }}/css/app.html" {% if page.file == 'app' %}class="is-active"{% endif %}>
      <i class="fa fa-file-text-o"></i>
      app.sass
    </a>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      bourbon
    </span>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      themes
    </span>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/css/themes/default.html" {% if page.file == 'default' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          default.sass
        </a>
      </li>
    </ul>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      tools
    </span>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/css/tools/reset.html" {% if page.file == 'reset' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          reset.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/tools/mixins.html" {% if page.file == 'mixins' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          mixins.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/tools/placeholders.html" {% if page.file == 'placeholders' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          placeholders.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/tools/keyframes.html" {% if page.file == 'keyframes' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          keyframes.sass
        </a>
      </li>
    </ul>
  </li>

  <li>
    <span>
      <i class="fa fa-folder"></i>
      styles
    </span>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/css/styles/base.html" {% if page.file == 'base' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          base.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/site.html" {% if page.file == 'site' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          site.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/buttons.html" {% if page.file == 'buttons' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          buttons.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/lists.html" {% if page.file == 'lists' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          lists.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/elements.html" {% if page.file == 'elements' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          elements.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/components.html" {% if page.file == 'components' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          components.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/vendor.html" {% if page.file == 'vendor' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          vendor.sass
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/css/styles/z-index.html" {% if page.file == 'z-index' %}class="is-active"{% endif %}>
          <i class="fa fa-file-text-o"></i>
          z-index.sass
        </a>
      </li>
    </ul>
  </li>
</ul>